/********************************************************************************
macht den c-base c-calendar etwas "spaceiger"

erstellt von Fred Brockstedt fuer den c-base e.V.
am 14.8.2018

dieses stylesheet moechte mit
  <link href="c-base.css" rel="stylesheet"/>
eingebunden werden
********************************************************************************/

/* Rahmen der Tabelle */
.ui-widget-header, .ui-widget-content {
    border: 1px solid #46b6ee;
    background-color: #22374C;
    color: #FF9900;
    font-family: lucida console,andale mono,courier new, monospace;
}

/* Tag des Monats */
.fc-day-number  {
    border-left: 1px solid #46b6ee;
    border-bottom: 1px solid #46b6ee;
    background-color: #22374C;
}

/* Schriftfarbe der Zahl von Tag im Monat */
.ui-widget-content a {
    color: #FF9900;
    text-align: right; /* führendes Leerzeichen für einstellige Zahlen */
    font-family: lucida console,andale mono,courier new, monospace;
}
.fc-content {
    text-align: left; /* Text weiterhin links formatiert */
    font-family: Helvetica, Arial, sans-serif;
}

/* aktueller Tag */
.ui-widget-content .ui-state-highlight {
    color: #46b6ee;
    background-color: #46b6ee88;
    border: 1px solid #46b6ee;
}
    
/* Ueberschift */
.fc-center {
    color: #FF9900;
    font-family: lucida console,andale mono,courier new, monospace;
}

/* Schrift */
.ui-widget-header a {
    color: #FF9900;
}

p {
    font-family: lucida console,andale mono,courier new, monospace;
}

.ui-dialog-content table tbody {
    color: #FFFFFF;
}

/* Buttons rechts, links */
.ui-state-default {
    border: 1px solid #46b6ee;
    background-color: #22374C;
    color: #FF9900;

}

.ui-state-default:hover {
    background-color: #0c1c2a;
    border: 1px solid  #FF9900;
    color: #FF9900;
}

/* Buttons Monat, Woche, Tag */
.ui-state-active, .ui-button.ui-state-active:hover {
    border: 1px solid #FF9900;
    background-color: #0c1c2a;
    color: #FF9900;
}

.ui-button:focus {
    border: 1px solid #46b6ee;
    background-color: #22374C;
    color: #FF9900;

}

/* button info*/
/* button x */
.ui-button {
    border: 1px solid #46b6ee;
    background-color: #22374C;
    color: #FF9900;
}

.ui-button:hover {
    border: 1px solid #FF9900;
    background-color: #0c1c2a;
    color: #FF9900;
}

/* button close */
/* info box */
.ui-widget.ui-widget-content {
    border: 1px solid #46b6ee;
    background-color: #5A798E;
    color: #46b6ee;
}

/* groesse des Kalenders */
#calendar {
    margin-right: 50px;
    margin-left:  50px;
    margin-top:  100px;
    overflow: visible; 
}
